/* Change the color of the Slider thumb */
.custom-slider .MuiSlider-thumb {
    color: #bfdf09; 
  }
  .custom-slider.MuiSlider-track{
    color: #000000;
  }
  /* Change the color of the Slider thumb when hovered */
  /* .custom-slider .MuiSlider-thumb:hover, */
  /* .custom-slider .MuiSlider-thumb.Mui-focusVisible {
    color: #bfdf09; 
  } */
  